<main class="main">
  <div class="inner">
    <% if user_signed_in? %>
    <%#ログインしているときは以下を表示する %>
       <div class="greeting"> 
        <%= "こんにちは、" %>
       <%= link_to current_user.name, user_path(current_user), class: :greeting__link%>
       <%#= link_to "user.name(←さっき登録した名前がはいる）さん", root_path何で後ろに(current_userあるの？), class: :greeting__link%>
        <%= "さん" %>
       </div> 
    <%# // ログインしているときは上記を表示する %>
     <% else %>
       <div class="not-login"> 
        <%= "あなたはログインしていません" %>
     <% end %>
    <div class="card__wrapper">
      <%# 投稿機能実装後、部分テンプレートでプロトタイプ投稿一覧を表示する %>
    <%= render partial: "prototype", collection: @prototype %>
    </div>
  </div>
</main>
